---
import Base from '../../layouts/Base.astro';
import { getCollection } from 'astro:content';

const tips = await getCollection('quicktips');
tips.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Base title="Quicktips">
  <div class="post">
    <header class="post-header">
      <h1 class="post-title">Quicktips</h1>
    </header>
    <article class="post-content">
      <div class="quicktips">
        {tips.map((tip) => {
          const tagList = tip.data.tags ? tip.data.tags.split(' ').filter(Boolean) : [];
          return (
            <a class="quicktips-link" href={`/quicktips/${tip.id}/`}>
              <div class="tags table-cell">
                {tagList.map((tag) => (
                  <span class="tag">{tag}</span>
                ))}
              </div>
              <div class="table-cell">
                {tip.data.title}
              </div>
            </a>
          );
        })}
      </div>
    </article>
  </div>
</Base>
