body
  .archive
    display: table
    width: 100%
    border-collapse: separate
    border-spacing: 0 0.1cm
    .archive-meta
      padding-left: 8px
      color: $head-color
      padding-right: 15px
    .archive-link
      display: table-row
      color: $header-link-color
      text-decoration: none
      &:hover
        color: $header-link-hover
        background: $preview-hover
        .tags
          .tag
            border-color: $header-link-hover
    .table-cell
      display: table-cell
    .tags
      margin: 0
      padding-bottom: 5px
      .tag
        width: 60px
        font-size: 12px
        display: inline-block