header
  nav
    margin: 0 auto
    max-width: $page-width
    min-height: 50px
    background-color: white
    padding: 5px
    border-style: solid
    border-width: 0.5px
    border-color: $glob-border
    a
      color: $header-link-color
      text-decoration: none
      &:hover
        text-decoration: none
        color: $header-link-hover
      &:visited
        text-decoration: none
    ul
      list-style-type: none
      margin: 0
      padding: 0
    .title-link
      display: inline-block
      font-size: 30px
      font-weight: 700
      margin-top: 5px
      margin-left: 20px
      li
        display: inline
    #menu-icon
      fill: $header-link-color
      display: none
      float: right
      clear: both
      margin-top: 10px
      margin-right: 20px
      cursor: pointer
      li
        display: inline
      &:hover
        fill: $header-link-hover
    .mobile-menu
      width: 100%
      background: white
      float: right
      margin-right: 20px
      font-size: 30px
      text-align: right
      li
        display: block
        margin-bottom: 10px
    .inline-menu
      word-spacing: 10px
      font-size: 20px
      float: right
      // clear: both
      margin-top: 10px
      margin-right: 20px
      display: inline
      li
        display: inline