---
import Base from '../layouts/Base.astro';
---

<Base title="Why this blog exists...">
  <div class="post">
    <header class="post-header">
      <h1 class="post-title">Why this blog exists...</h1>
    </header>
    <article class="post-content">
      <p>My name is Arne Küderle and I am about to finish my Master degree in Biomedical Engineering after a successful Bachelor degree in Biophysics. Coding or rather tech in general is a passion of mine for a few years now. However, you know that you can not remember all of the things. Therefore, I started writing some of it down. An why not make it public to everybody? - That's how this blog was born. But now, as I got experienced in programming, especially in a scientific environment, I realized a lot of shortcomings in how people work with code and that the general adoption of programming in many fields is lacking at best. Therefore, I want this blog to be a demonstration of how code can ease your life and how better code can make you a better researcher!</p>
      <p>The blog is divided in two section. First the regular, standard blog section with full length posts, and second the Quicktips, where I collect small tips and snippets of code, which are not worth a full length post. Content-wise I am going to write about what ever topic I'm working on at given time. Usually this is gonna be Windows or Linux related topics on the workflow side of things and Python on the coding site.</p>
      <p>Have fun reading! And feel free to contact me in any way!</p>
      <p>P.S.: I really enjoy teaching and helping others. So, if you have a project you are stuck with, or just need a little mentoring in any of the topics I write about, I would be happy to help you (If I can find the time of course)!</p>
    </article>
  </div>
</Base>
