<header class="head">
  <nav id="nav">
    <ul>
      <div class="title-link">
      <li><a href="/">Arne Küderle</a></li>
      </div>
      <div id="menu-icon">
        <li>
          <svg height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>
        </li>
      </div>
      <div id="links" class="inline-menu">
        <li><a href="/archive">Archive</a></li>
        <li><a href="/quicktips">Quicktips</a></li>
        <li><a href="/about">About</a></li>
      </div>
    </ul>
  </nav>
</header>

<script>
  function setupMenu() {
    const menuIcon = document.getElementById('menu-icon');
    const links = document.getElementById('links');
    if (!menuIcon || !links) return;

    let menuVisible = false;

    function widthChange(mq: MediaQueryList | MediaQueryListEvent) {
      if (mq.matches) {
        if (menuVisible) {
          links.style.display = '';
          menuVisible = false;
        }
        links.classList.remove('mobile-menu');
        links.classList.add('inline-menu');
        links.style.display = '';
        menuIcon.style.display = 'none';
      } else {
        menuIcon.style.display = 'inline';
        links.style.display = 'none';
        links.classList.remove('inline-menu');
        links.classList.add('mobile-menu');
      }
    }

    const mq = window.matchMedia('(min-width: 650px)');
    mq.addEventListener('change', widthChange);
    widthChange(mq);

    menuIcon.addEventListener('click', () => {
      if (menuVisible) {
        links.style.display = 'none';
        menuVisible = false;
        return;
      }
      links.style.display = 'block';
      menuVisible = true;
    });

    links.addEventListener('click', () => {
      links.style.display = 'none';
      menuVisible = false;
    });
  }

  setupMenu();
  document.addEventListener('astro:after-swap', setupMenu);
</script>
